# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/

# Secrets & Environment
.env
.env.local

# Databases & local sqlite
*.db
*.sqlite3

# IDEs
.vscode/
.idea/

# OS artifacts
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
